{include file="blog@public/header"}
<body>
{include file="blog@public/nav"}
<div class="container">
    <div class="page-header">
        <h1>{$info.name}
            <small>
                {$info.description|substr=0,60}
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <ul class="r_box">
                {foreach $list as $K=>$v}
                <li style="cursor: pointer"><i><a href="{:url('/blog/article/info',['id'=>$v.id])}" title="{$v.title}"><!--<img
                        src="http://www.yangqq.com/d/file/blogs/2018-06-18/0daedba8782d1b87dd38d9914d9cee3f.png"
                        alt="{$v.title}？">--></a></i>
                    <h3>[ 顶 ] <a href="{:url('/blog/article/info',['id'=>$v.id])}">{$v.title}</a></h3>
                    <p>{$v.description}</p>
                </li>
                {/foreach}
            </ul>
            {$page}
        </div>
        <div class="col-sm-4">
            <h2>标签</h2>
            <div class="fakeimg">
                <span class="label label-default">PHP</span>
                <span class="label label-primary">MYSQL</span>
                <span class="label label-success">Linux</span>
                <span class="label label-info">Js</span>
            </div>
            <h3>友情链接</h3>
            <ul class="nav nav-stacked">
                <li class="active"><a href="#"></a></li>
            </ul>
            <hr class="hidden-sm hidden-md hidden-lg">
        </div>

    </div>
</div>
{include file="blog@public/footer"}
</body>
</html>