{include file="shop@public/header"}
<link href="__STATIC__/shop/css/oto-about.css" rel="stylesheet" type="text/css" />
<body>
{include file="shop@public/nav"}
<!--位置-->
<div class="user_here center">所在的位置：中国美博城 > 编辑资料</div>
<!--关于欧途欧-->
<div class="oto-about center">

    <div class="oto-about-right">
        <div class="oto-about-right-title">
            关于我们 About us
        </div>
        <div class="oto-about-right-body center">

        </div>
    </div>
</div>
{include file="shop@public/footer"}

</body>
</html>
