{include file="shop@public/header"}
<link href="__STATIC__/shop/css/user.css" rel="stylesheet" type="text/css"/>
<body>
{include file="shop@public/nav"}
<!--位置-->
<div class="user_here center">所在的位置：{$cfg.site_name} > 帮助中心</div>
<!--用户管理中心-->
<div class="user_center center">
    <!--左侧-->
    <div class="user_left fl">
        <div class="user_menu">
            {volist name="catelog" id="item"}
            <ul>
                <h2 style="margin-left: 10px;">{$item.title}</h2>
                {if !empty($item.subLog)}
                {volist name="$item.subLog" id="subitem"}
                <li  {if $id eq $subitem.id} style="background-color: #eee;" {/if}><a href="{:url('index/help',['id'=>$subitem.id])}" >{$subitem.title}</a></li>
                {/volist}
                {/if}
            </ul>
            {/volist}
        </div>
    </div>
    <!--右侧-->
    <div class="user_right fr">
        <div class="user_dingdan">
            <p>{$info.title}</p>
        </div>
        <div class="bupiao_js">
            <div class="padding20">
                {$info.content}
            </div>
        </div>

    </div>
</div>
</div>

{include file="shop@public/footer"}
</body>
</html>
