{include file="shop@public/header"}
<link href="__STATIC__/shop/css/user.css" rel="stylesheet" type="text/css"/>
<body>
{include file="shop@public/nav"}
<!--用户管理中心-->
<div class="user_center center">
    {include file="shop@public/personal-left"}
    <!--右侧-->
    <div class="user_right fr">
        <div class="user_dingdan">
            <span class="fr"><a href=""></a></span>
            <p>收货地址</p>
        </div>

        <div class="dingdan_state">
            <div class="state_step fl"><a href="{:url('modaddr')}"><p class="step-lv"></p><p>新增地址</p></a></div>
        </div>

        <div class="shopping_list">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="table_manu">收件人</td>
                    <td class="table_manu">地区</td>
                    <td class="table_manu">详细地址<td>
                    <td class="table_manu"></td>
                    <td class="table_manu" ></td>
                </tr>
                {foreach $address as $k=>$v}
                <tr class="goodsbg">
                    <td>{$v.reciver}</td>
                    <td>{:implode(',',$v.region)}</td>
                    <td>{$v.address}</td>
                    <td>{$v.contact}</td>
                    <td>
                        <a href="javascript:void(0);" class="del-address" data-id="{$v.id}">删除&nbsp;&nbsp;</a>
                        <a href="{:url('modaddr',['id'=>$v.id])}">修改&nbsp;&nbsp;</a>
                        {if $v.is_default.id eq 1}
                        <a href="javascript:void(0);" style="color: orange;">默认地址</a>
                        {else}
                        <a href="javascript:void(0);" style="color: red;" class="default-address" data-id="{$v.id}">设为默认</a>
                        {/if}
                    </td>
                </tr>
                {/foreach}
            </table>
        </div>
    </div>
</div>
</div>

{include file="shop@public/footer"}
</body>
</html>
