{include file="shop@public/header"}
<link href="__STATIC__/shop/css/user.css" rel="stylesheet" type="text/css"/>
<body>
{include file="shop@public/nav"}
<!--位置-->
<div class="user_here center">所在的位置：中国美博城 > 我的订单</div>
<!--用户管理中心-->
<div class="user_center center">
    {include file="shop@public/personal-left"}
    <!--右侧-->
    <div class="user_right fr">
        <div class="user_dingdan">
            <span class="fr"><a href="#">订单回收站</a></span><p>我的订单</p>
        </div>
        <div class="dingdan_state">
            <div class="state_step fl"><p class="step-lv">1</p><p>1.我的购物车</p></div>
            <div class="state_step_hui fl"><p class="step-hui">2</p><p>2.填写核对订单信息</p></div>
            <div class="state_step_hui fl"><p class="step-hui">3</p><p>3.成功提交订单</p></div>
        </div>

        <div class="shopping_list">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="table_manu" width="40">全选</td>
                    <td class="table_manu">商品</td>
                    <td class="table_manu" width="100">价格</td>
                    <td class="table_manu" width="100">优惠</td>
                    <td class="table_manu" width="100">
                        <select class="oto_select">
                            <option value ="安徽">安徽</option>
                            <option value ="北京">北京</option>
                            <option value ="上海">上海</option>
                            <option value ="江苏">江苏</option>
                        </select>
                    </td>
                    <td class="table_manu" width="100">数量</td>
                    <td class="table_manu" width="100">操作</td>
                </tr>
                <tr class="goodsbg">
                    <td valign="top"><div class="fuxuan"><input type="checkbox" name="checkbox" value="checkbox" /></div></td>
                    <td>
                        <div class="goods">
                            <img src="img/user/goods.jpg" class="fl" />
                            <a href="#">撒旦法斯蒂芬斯蒂芬斯蒂芬斯蒂芬撒旦法斯蒂芬斯蒂芬斯蒂斯蒂芬斯蒂芬斯蒂芬</a>
                        </div>
                    </td>
                    <td><p class="jiage">￥99.05</p></td>
                    <td>&nbsp;</td>
                    <td>有货</td>
                    <td><div class="shuliang"><a class="jianqu" href="#">-</a><a class="zhi" href="#">1</a><a class="jiashang" href="#">+</a></div></td>
                    <td><div class="caozuo"><p><a href="#">删除</a></p><p><a href="#">修改优惠</a></p></div></td>
                </tr>
                <tr class="goodsbg">
                    <td valign="top"><div class="fuxuan"><input type="checkbox" name="checkbox" value="checkbox" /></div></td>
                    <td>
                        <div class="goods">
                            <img src="img/user/goods.jpg" class="fl" />
                            <a href="#">撒旦法斯蒂芬斯蒂芬斯蒂芬斯蒂芬撒旦法斯蒂芬斯蒂芬斯蒂斯蒂芬斯蒂芬斯蒂芬</a>
                        </div>
                    </td>
                    <td><p class="jiage">￥99.05</p></td>
                    <td>&nbsp;</td>
                    <td>有货</td>
                    <td><div class="shuliang"><a class="jianqu" href="#">-</a><a class="zhi" href="#">1</a><a class="jiashang" href="#">+</a></div></td>
                    <td><div class="caozuo"><p><a href="#">删除</a></p><p><a href="#">修改优惠</a></p></div></td>
                </tr>
                <tr class="goodsbg">
                    <td valign="top"><div class="fuxuan"><input type="checkbox" name="checkbox" value="checkbox" /></div></td>
                    <td>
                        <div class="goods">
                            <img src="img/user/goods.jpg" class="fl" />
                            <a href="#">撒旦法斯蒂芬斯蒂芬斯蒂芬斯蒂芬撒旦法斯蒂芬斯蒂芬斯蒂斯蒂芬斯蒂芬斯蒂芬</a>
                        </div>
                    </td>
                    <td><p class="jiage">￥99.05</p></td>
                    <td>&nbsp;</td>
                    <td>有货</td>
                    <td><div class="shuliang"><a class="jianqu" href="#">-</a><a class="zhi" href="#">1</a><a class="jiashang" href="#">+</a></div></td>
                    <td><div class="caozuo"><p><a href="#">删除</a></p><p><a href="#">修改优惠</a></p></div></td>
                </tr>

            </table>
        </div>
        <div class="zongji">
            <p>
					<span class="fr">已选商品<span class="color4 size18"> 0 </span>件&nbsp;&nbsp;
					合计(不含运费)：&nbsp;&nbsp;<span class="color4 size18">¥0.00</span></span>
                全选删除 - 批量转入收藏夹 - 分享
            </p>
        </div>
        <div class="jiesuan">
            <button class="btn-jx fl">继续购物</button>
            <button class="btn-js fr">去结算</button>
        </div>
    </div>

</div>

{include file="shop@public/footer"}

</body>
</html>
