{include file="shop@public/header"}
<link href="__STATIC__/shop/css/user.css" rel="stylesheet" type="text/css"/>
<body>
{include file="shop@public/nav"}
<!--位置-->
<div class="user_here center">所在的位置：中国美博城 > 我的订单</div>
<!--用户管理中心-->
<div class="user_center center">
    {include file="shop@public/personal-left"}
    <!--右侧-->
    <div class="user_right fr">
        <div class="user_dingdan">
            <span class="fr"><a href=""></a></span>
            <p>我的订单</p>
        </div>
        <div class="shopping_list">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>

                    <td class="table_manu">订单编号</td>
                    <td class="table_manu" width="100">订单金额</td>
                    <td class="table_manu" width="100">支付方式</td>
                    <td class="table_manu" width="100">支付状态</td>
                    <td class="table_manu" width="100">物流状态</td>
                    <td class="table_manu" width="100">下单时间</td>
                    <td class="table_manu" width="100">操作</td>
                </tr>
                {foreach $orders as $k=>$v}
                <tr class="goodsbg">
                    <td>{$v.order_no}</td>
                    <td>{$v.order_amount}</td>
                    <td>{$v.pay_type.name}</td>
                    <td>{$v.status.name}</td>
                    <td>{$v.progress.name}</td>
                    <td>{$v.create_time}</td>
                    <td>
                        <div class="caozuo">
                            {if $v.progress.id eq 0 or $v.progress.id eq 3}
                            <p><a href="javascript:void(0);" class="del-orders" data-id="{$v.id}">删除</a></p>
                            {/if}
                            <p><a href="{:url('orderDetail',['id'=>$v.id])}" data-id="{$v.id}">详情</a></p>
                            {if $v.status.id eq 0}
                            <!--<p><a href="javascript:void(0);" data-id="{$v.id}">去支付</a></p>-->
                            {/if}
                            {if $v.progress.id eq 2}
                            <p><a href="javascript:void(0);" class="orders-complete" data-id="{$v.id}">确认收货</a></p>
                            {/if}
                        </div>
                    </td>
                </tr>
                {/foreach}
            </table>

            <div style="float: right;"></div>{$page}
        </div>
    </div>
</div>
</div>

{include file="shop@public/footer"}
</body>
</html>
