{include file="shop@public/header"}
<link href="__STATIC__/shop/css/user.css" rel="stylesheet" type="text/css"/>
<body>
{include file="shop@public/nav"}
<!--位置-->
<div class="user_here center">所在的位置：中国美博城 > 我的订单</div>
<!--用户管理中心-->
<div class="user_center center">
    {include file="shop@public/personal-left"}
    <!--右侧-->
    <div class="user_right fr">
        <div class="user_dingdan">
            <span class="fr"><a href=""></a></span>
            <p>我的订单</p>
        </div>


        <div class="shopping_list">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="table_manu" width="40">全选</td>
                    <td class="table_manu">商品</td>
                    <td class="table_manu" width="100">价格</td>
                    <td class="table_manu" width="100">优惠</td>
                    <td class="table_manu" width="100">
                        <select class="oto_select">
                            <option value="安徽">安徽</option>
                            <option value="北京">北京</option>
                            <option value="上海">上海</option>
                            <option value="江苏">江苏</option>
                        </select>
                    </td>
                    <td class="table_manu" width="100">数量</td>
                    <td class="table_manu" width="100">操作</td>
                </tr>
                <tr class="goodsbg">
                    <td valign="top">
                        <div class="fuxuan"><input type="checkbox" name="checkbox" value="checkbox"/></div>
                    </td>
                    <td>
                        <div class="goods">
                            <img src="img/user/goods.jpg" class="fl"/>
                            <a href="#">撒旦法斯蒂芬斯蒂芬斯蒂芬斯蒂芬撒旦法斯蒂芬斯蒂芬斯蒂斯蒂芬斯蒂芬斯蒂芬</a>
                        </div>
                    </td>
                    <td><p class="jiage">￥99.05</p></td>
                    <td>&nbsp;</td>
                    <td>有货</td>
                    <td>
                        <div class="shuliang"><a class="jianqu" href="#">-</a><a class="zhi" href="#">1</a><a
                                class="jiashang" href="#">+</a></div>
                    </td>
                    <td>
                        <div class="caozuo"><p><a href="#">删除</a></p>
                            <p><a href="#">修改优惠</a></p></div>
                    </td>
                </tr>
                <tr class="goodsbg">
                    <td valign="top">
                        <div class="fuxuan"><input type="checkbox" name="checkbox" value="checkbox"/></div>
                    </td>
                    <td>
                        <div class="goods">
                            <img src="img/user/goods.jpg" class="fl"/>
                            <a href="#">撒旦法斯蒂芬斯蒂芬斯蒂芬斯蒂芬撒旦法斯蒂芬斯蒂芬斯蒂斯蒂芬斯蒂芬斯蒂芬</a>
                        </div>
                    </td>
                    <td><p class="jiage">￥99.05</p></td>
                    <td>&nbsp;</td>
                    <td>有货</td>
                    <td>
                        <div class="shuliang"><a class="jianqu" href="#">-</a><a class="zhi" href="#">1</a><a
                                class="jiashang" href="#">+</a></div>
                    </td>
                    <td>
                        <div class="caozuo"><p><a href="#">删除</a></p>
                            <p><a href="#">修改优惠</a></p></div>
                    </td>
                </tr>
                <tr class="goodsbg">
                    <td valign="top">
                        <div class="fuxuan"><input type="checkbox" name="checkbox" value="checkbox"/></div>
                    </td>
                    <td>
                        <div class="goods">
                            <img src="img/user/goods.jpg" class="fl"/>
                            <a href="#">撒旦法斯蒂芬斯蒂芬斯蒂芬斯蒂芬撒旦法斯蒂芬斯蒂芬斯蒂斯蒂芬斯蒂芬斯蒂芬</a>
                        </div>
                    </td>
                    <td><p class="jiage">￥99.05</p></td>
                    <td>&nbsp;</td>
                    <td>有货</td>
                    <td>
                        <div class="shuliang"><a class="jianqu" href="#">-</a><a class="zhi" href="#">1</a><a
                                class="jiashang" href="#">+</a></div>
                    </td>
                    <td>
                        <div class="caozuo"><p><a href="#">删除</a></p>
                            <p><a href="#">修改优惠</a></p></div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
</div>

{include file="shop@public/footer"}
</body>
</html>
