{include file="common@public/admin-header"}
<body >
<div class="panel-body">
    <ol class="breadcrumb">
        <li><a>首页</a></li>
        <li><a>账户管理</a></li>
        <li class="active">账户信息</li>
    </ol>
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#base" data-toggle="tab">基本信息</a>
        </li>
        <li><a href="#detail" data-toggle="tab">详细信息</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="base">
            <div class="panel panel-default" style="margin-top:30px;">
                <ul class="list-group">
                    <li class="list-group-item">商户名称：{$base.name}</li>
                    <li class="list-group-item">商户编号：{$base.sign_number}</li>
                    <li class="list-group-item">商户余额：{$base.balance|default=0}</li>
                    <li class="list-group-item">保&nbsp;证&nbsp;&nbsp;金：{$base.bond|default=0}</li>
                    <li class="list-group-item">时用状态：{$base.status}</li>
                    <li class="list-group-item">联系邮箱：{$base.email|default=''}</li>
                    <li class="list-group-item">开通时间：{$base.created_time|default=''}</li>
                </ul>

            </div>
        </div>
        <div class="tab-pane fade" id="detail">
            <div class="panel panel-default" style="margin-top:30px;">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myFormModal">修改信息
                    </button>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">真实姓名：{$detail.real_name}</li>
                    <li class="list-group-item">身份证号：{$detail.id_number}</li>
                    <li class="list-group-item">公司地址：{$detail.region.0} {$detail.region.1} {$detail.region.2}</li>
                    <li class="list-group-item">详细地址：{$detail.address}</li>
                    <li class="list-group-item">营业执照：{$detail.business}</li>
                    <li class="list-group-item">营业执照副本：{if $detail.business_card} <button class="btn btn-sm btn-info" onclick="modal_image('营业执照副本','{$detail.business_card}');">预览</button> {/if}</li>
                    <li class="list-group-item">法人身份证A&nbsp;：{if $detail.legal_card_a} <button class="btn btn-sm btn-info" onclick="modal_image('法人身份证A','{$detail.legal_card_a}');">预览</button> {/if}</li>
                    <li class="list-group-item">法人身份证B&nbsp;：{if $detail.legal_card_b} <button class="btn btn-sm btn-info" onclick="modal_image('法人身份证B','{$detail.legal_card_b}');">预览</button> {/if}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade right" id="myFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <form class="form-horizontal" role="form" id="merchatInfoForm" action="{:url('saveDetail')}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">修改详细信息</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" value="{$detail.id}">
                        {:formInput('真实姓名:','real_name',$detail.real_name,'text',[['rule'=>'notempty']],true)}
                        {:formInput('身份证号:','id_number',$detail.id_number,'text',[['rule'=>'notempty']],true)}
                        <div class="form-group" id="company_region">
                            <label class="col-sm-2 control-label">公司地区:</label>
                            <div class="col-sm-10 cxselect-list">
                                <select class="province form-control " name="region" data-value="{$detail.region.0}"
                                        data-first-title="选择省" disabled="disabled" required
                                        data-required-msg="选择省"></select>
                                <select class="city form-control" name="region" data-value="{$detail.region.1}" data-first-title="选择市"
                                        disabled="disabled" required data-required-msg="选择市"></select>
                                <select class="area form-control" name="region" data-value="{$detail.region.2}" data-first-title="选择地区"
                                        disabled="disabled" required data-required-msg="选择地区"></select>
                            </div>
                        </div>
                        {:formInput('详细地址:','address',$detail.address,'text',[['rule'=>'notempty']])}
                        {:formInput('营业执照:','business',$detail.business,'text',[['rule'=>'notempty']])}
                        {:formInput('法人名称:','legal_name',$detail.business,'text',[['rule'=>'notempty']])}
                        {:formFile(true,'法人身份证A:','legal_card_a',$detail.legal_card_a,$detail.legal_card_a)}
                        {:formFile(false,'法人身份证B:','legal_card_b',$detail.legal_card_b,$detail.legal_card_b)}
                        {:formFile(false,'营业执照副本:','business_card',$detail.business_card,$detail.business_card)}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary form-ajax-submit">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 全国省市区
        $('#company_region').cxSelect({
            selects: ['province', 'city', 'area'],
            nodata: 'none',
            url:'__STATIC__/vendor/cxselect/cityData.min.json',
        });
    });

</script>
</body>
</html>