{include file="common@public/admin-header"}
<script src="__STATIC__/vendor/table/bootstrap-table.js"></script>
<link href="__STATIC__/vendor/table/bootstrap-table.css" rel="stylesheet"/>
<script src="__STATIC__/vendor/table/locale/bootstrap-table-zh-CN.js"></script>
<body>
<div class="panel-body">
    <ol class="breadcrumb">
        <li><a>首页</a></li>
        <li><a>账户管理</a></li>
        <li class="active">提现记录</li>
    </ol>

    <div id="toolbar" class="btn-group">
        <div id="table-btn-list">
            <form action="">
                <div class="my-container">
                    <label class="myLabel-content">流水号：</label>
                    <div class="myText-content">
                        <input type="text" name="transaction" class="form-control" placeholder="输入流水号">
                    </div>
                </div>
                <div class="my-container">
                    <label class="myLabel-content">提现状态：</label>
                    <div class="myText-content">
                        <select class="form-control" name="a.status">
                            <option value="">请选择</option>
                            <option value="-1">拒绝</option>
                            <option value="0">处理中</option>
                            <option value="1">处理成功</option>
                            <option value="2">处理失败</option>
                        </select>
                    </div>
                </div>
                <div class="my-container">
                    <label class="myLabel-content">开始：</label>
                    <div class="myText-content">
                        <input  type="text" name="start" class="form-control datepicker" placeholder="输入开始时间">
                    </div>
                </div>
                <div class="my-container">
                    <label class="myLabel-content">结束：</label>
                    <div class="myText-content">
                        <input  type="text" name="end" class="form-control datepicker" placeholder="输入结束时间">
                    </div>
                </div>
                <div class="myBtn-content">
                    <button type="button" class="btn btn-primary table-btn-search" data-table="tb_departments">搜索</button>
                    <button type="button" class="btn btn-default table-btn-reset" data-table="tb_departments">重置</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#withdrawFormModal">申请提现</button>
                </div>
            </form>
        </div>
        <div id="table-btn-moreaction-list" style="display: none;">
            <span>您选中了 <span id="row-select-total"></span> 行 </span>
            <button type="button" class="btn btn-danger"
                    data-callback="merchatWithdraw" data-table="tb_departments" data-status="-1">批量拒绝
            </button>
            <button type="button" class="btn btn-success"
                    data-callback="merchatWithdraw" data-table="tb_departments" data-status="1">批量处理
            </button>
        </div>
    </div>
    <table id="tb_departments" class="extra-table"></table>
</div>
<div class="modal fade right" id="withdrawFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <form class="form-horizontal" role="form" id="merchatWithdrawForm" action="{:url('saveWithdraw')}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">提现申请</h4>
                </div>
                <div class="modal-body">
                    {:formInput('提现金额:','orderAmount','','text')}
                    {:formSelect('选择银行卡:','bankId',$merBanks,'id','openBank')}
                    {:formInput('持卡人姓名:','cardByName','','text')}
                    {:formInput('持卡人卡号:','cardByNo','','text')}
                    {:formInput('开户行:','openBank','','text')}
                    <div class="form-group" id="company_region">
                        <label class="col-sm-2 control-label">开户行省市:</label>
                        <div class="col-sm-10 cxselect-list">
                            <select class="province form-control " name="openProvinve" id="openProvinve" data-value=""
                                    data-first-title="选择省" disabled="disabled" required
                                    data-required-msg="选择省"></select>
                            <select class="city form-control" name="openCity" id="openCity" data-value="" data-first-title="选择市"
                                    disabled="disabled" required data-required-msg="选择市"></select>
                        </div>
                    </div>
                    {:formSelect('结算类型:','accType',[['id'=>0,'value'=>'对私'],['id'=>1,'value'=>'对公']],'id','value')}
                </div>
                <div class="modal-footer modal-my-bottom">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary form-ajax-submit">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 全国省市区
        $('#company_region').cxSelect({
            selects: ['province', 'city'],
            nodata: 'none',
            url:'__STATIC__/vendor/cxselect/cityData.min.json',
            required:true,
        });
        //1.初始化Table
        var url = "{:url('btData')}";
        var tableId = 'tb_departments';
        var fields = [
            {checkbox: true},
            {field: 'merchat', title: '商户名称'},
            {field: 'transaction', title: '提现流水号', sortable: true},
            {field: 'orderAmount', title: '提现金额', sortable: true},
            {field: 'serviceCharge', title: '提现手续费', sortable: true},
            {
                field: 'status', title: '状态', formatter: function (value) {
                    return value.text;
                }
            },
            {field: 'createdTime', title: '创建时间', sortable: true},
            {field: 'dealUser', title: '处理人'},
            {
                field: '', title: '操作', formatter: function (value, row) {
                    var action = '';
                    var jsonParam = JSON.stringify(row);
                    switch (row.status['value']) {
                        case 0:
                            action = action + '<button class="btn btn-sm btn-success table-row-action" data-row=\'' + jsonParam + '\' data-callback="merchatWithdraw" data-table="' + tableId + '">处理</button>';
                            break;
                        case 2:
                            action = action + '<button class="btn btn-sm btn-danger table-row-action" data-row=\'' + jsonParam + '\' data-callback="merchatWithdraw" data-table="' + tableId + '">重新处理</button>';
                            break;
                        default:
                            break;
                    }
                    return action;
                }
            },
        ];
        var oTable = new TableInit();
        oTable.Init(tableId, url, fields, 'createdTime', 'desc');
    });
</script>
</body>
</html>