<div class="main_left">
    <h2><i class="menu_icon fa fa-reorder"></i></h2>
    <ul class="left-menu">
        <!--账户管理-->
        <li>
            <i class="menu_icon fa fa-commenting-o"></i>
            <a href="javascript:void(0);" data-id="merchat" data-href="{:url('/merchat/Account/info')}">账户信息</a>
        </li>
        <li>
            <i class="menu_icon fa fa-commenting-o"></i>
            <a href="javascript:void(0);" data-id="merchat" data-href="{:url('/merchat/Account/withdraw')}">提现记录</a>
        </li>
        <!--安全设置-->
        <li>
            <i class="menu_icon fa fa-list"></i>
            <a href="javascript:void(0);" data-id="security" data-href="{:url('/merchat/Security/index')}">安全设置</a>
        </li>

        <!--订单信息-->
        <li>
            <i class="menu_icon fa fa-file-text-o"></i>
            <a href="javascript:void(0);" data-id="order" data-href="{:url('/merchat/Order/index')}">订单信息</a>
        </li>
        <!--产品信息-->
        <li>
            <i class="menu_icon fa fa-users"></i>
            <a href="javascript:void(0);" data-id="product" data-href="{:url('/merchat/Product/index')}">产品信息</a>
        </li>

        <!--结算信息-->
        <li>
            <i class="menu_icon fa fa-users"></i>
            <a href="javascript:void(0);" data-id="checkout" data-href="{:url('/mechat/Checkout/index')}">结算信息</a>
        </li>


    </ul>
</div>