<script src="__STATIC__/js/jquery-2.2.1.min.js"></script>
<script src="__STATIC__/js/vendor/bootstrap/js/bootstrap.js"></script>
<script src="__STATIC__/js/vendor/layer/layer.js"></script>
<script src="__STATIC__/js/vendor/bootstrap-validate/js/bootstrapValidator.js"></script>
<script src="__STATIC__/js/vendor/bootstrap-validate/js/language/zh_CN.js"></script>
<script src="__STATIC__/js/vendor/cxselect/jquery.cxselect.min.js"></script>
<script src="__STATIC__/js/vendor/icheck/icheck.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/vendor/datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/vendor/datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="__STATIC__/js/tipSuppliers.js"></script>
<script src="__STATIC__/system/core.js"></script>
<script src="__STATIC__/system/vendor.js"></script>