<div class="top-nav">
    <ul class="clearfix">
        <li>
            <i class="fa fa-user-circle-o font_lager"></i>
            <p data-id="merchat">商户管理</p>
        </li>
        <li>
            <i class="fa fa-user-plus font_lager"></i>
            <p data-id="security">安全设置</p>
        </li>
        <li>
            <i class="fa fa-file-text font_lager"></i>
            <p data-id="trader">交易查询</p>
        </li>
        <!--<li>
            <i class="fa fa-users font_lager"></i>
            <p data-id="product">产品信息</p>
        </li>
        <li>
            <i class="fa fa-users font_lager"></i>
            <p data-id="checkout">结算信息</p>
        </li>-->
    </ul>
</div>