<div class="main_left" >
    <h2><i class="menu_icon fa fa-reorder"></i></h2>
    <ul class="left-menu">
        <!--shop-->
        <li>
            <i class="menu_icon fa fa-users"></i>
            <a href="javascript:void(0);" data-id="shop-manager" data-href="{:url('/manager/shop/category')}">分类管理</a>
        </li>
        <li>
            <i class="menu_icon fa fa-users"></i>
            <a href="javascript:void(0);" data-id="shop-manager" data-href="{:url('/manager/Blog/category')}">品牌管理</a>
        </li>
        <li>
            <i class="menu_icon fa fa-users"></i>
            <a href="javascript:void(0);" data-id="shop-manager" data-href="{:url('/manager/shop/product')}">商品管理</a>
        </li>
        <li>
            <i class="menu_icon fa fa-users"></i>
            <a href="javascript:void(0);" data-id="shop-manager" data-href="{:url('/manager/Blog/article')}">订单管理</a>
        </li>
        <li>
            <i class="menu_icon fa fa-users"></i>
            <a href="javascript:void(0);" data-id="shop-manager" data-href="{:url('/manager/Blog/article')}">用户管理</a>
        </li>
        <!--shop-->

        <!--payment-->
        <li>
            <i class="menu_icon fa fa-commenting-o"></i>
            <a href="javascript:void(0);" data-id="payment-manager" data-href="{:url('/manager/Merchat/Account/info')}">账户信息</a>
        </li>
        <li>
            <i class="menu_icon fa fa-commenting-o"></i>
            <a href="javascript:void(0);" data-id="payment-manager" data-href="{:url('/manager/Merchat/Account/withdraw')}">提现记录</a>
        </li>
        <li>
            <i class="menu_icon fa fa-list"></i>
            <a href="javascript:void(0);" data-id="payment-manager" data-href="{:url('/manager/Merchat/Security/index')}">安全设置</a>
        </li>
        <li>
            <i class="menu_icon fa fa-file-text-o"></i>
            <a href="javascript:void(0);" data-id="payment-manager" data-href="{:url('/manager/Merchat/Order/index')}">订单查询</a>
        </li>
        <!--payment-->
        <!--blogb-->
        <li>
            <i class="menu_icon fa fa-users"></i>
            <a href="javascript:void(0);" data-id="blog-manager" data-href="{:url('/manager/Blog/category')}">栏目管理</a>
        </li>
        <li>
            <i class="menu_icon fa fa-users"></i>
            <a href="javascript:void(0);" data-id="blog-manager" data-href="{:url('/manager/Blog/article')}">文章管理</a>
        </li>
        <!--blogb-->
    </ul>
</div>