{include file="common@public/admin-header"}
<link rel="stylesheet" href="__STATIC__/vendor/bootstrap-validate/css/bootstrapValidator.css">
<link rel="stylesheet" href="__STATIC__/vendor/icheck/skins/flat/blue.css">
<link rel="stylesheet" href="__STATIC__/vendor/datepicker/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="__STATIC__/vendor/select/css/bootstrap-select.min.css">
<script src="__STATIC__/vendor/bootstrap-validate/js/bootstrapValidator.js"></script>
<script src="__STATIC__/vendor/bootstrap-validate/js/language/zh_CN.js"></script>
<script src="__STATIC__/vendor/cxselect/jquery.cxselect.min.js"></script>
<script src="__STATIC__/vendor/icheck/icheck.min.js"></script>
<script type="text/javascript" src="__STATIC__/vendor/datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/vendor/select/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="__STATIC__/vendor/datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<link href="__STATIC__/vendor/table/bootstrap-table.css" rel="stylesheet"/>
<link href="__STATIC__/vendor/tree/css/bootstrap-treeview.css" rel="stylesheet"/>
<script src="__STATIC__/vendor/table/bootstrap-table.js"></script>
<script src="__STATIC__/vendor/tree/js/bootstrap-treeview.js"></script>
<script src="__STATIC__/vendor/table/locale/bootstrap-table-zh-CN.js"></script>
<body style="overflow: auto">
<div class="panel-body">
    {block name="breadcrumb"}
    {/block}
    {block name="left-tree"}
    {/block}

            <div id="toolbar" class="btn-group">
                <div id="table-btn-list">
                    <form action="" id="tb_departments_SearchTableForm">
                        {block name="table-search"}
                        {/block}
                        <div class="myBtn-content">
                            <button type="button" class="btn btn-primary table-btn-search" data-table="tb_departments">搜索</button>
                            <button type="button" class="btn btn-default table-btn-reset" data-table="tb_departments">重置</button>
                            {block name="table-actions"}
                            {/block}
                        </div>
                    </form>
                </div>
                <div id="table-btn-moreaction-list" style="display: none;">
                    <span>您选中了 <span id="row-select-total"></span> 行 </span>
                    {block name="table-more-actions"}
                    {/block}
                </div>
            </div>
            <table id="tb_departments" class="table table-hover table-striped table-extra"></table>
    {block name="left-tree-end"}
    {/block}
</div>
<div class="modal fade right" id="tb_departments_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" role="form"  action="{:url('store')}">
                {block name="table-modal"}
                {/block}
                <div class="modal-footer modal-my-bottom">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary form-ajax-submit">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
{block name="table-script"}
{/block}
<script src="__STATIC__/system/table.js"></script>
</body>
</html>