<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>商户后台管理</title>
    <link type="text/css" rel="stylesheet" href="__STATIC__/js/vendor/bootstrap/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/fontsawesome/css/font-awesome.css"/>
    <link type="text/css" rel="stylesheet" href="__STATIC__/css/style.css"/>
    <link rel="stylesheet" href="__STATIC__/js/vendor/bootstrap-validate/css/bootstrapValidator.css">
    <link rel="stylesheet" href="__STATIC__/js/vendor/icheck/skins/flat/green.css">
</head>
<body>
