{extend name="common@public/admin-table"}
{block name="breadcrumb"}
<ol class="breadcrumb">
    <li><a>首页</a></li>
    <li><a>商城管理</a></li>
    <li class="active">分类管理</li>
</ol>
{/block}
{block name="table-search"}
<div class="my-container">
    <label class="myLabel-content">订单编号：</label>
    <div class="myText-content">
        <input type="text" name="order_no" class="form-control" placeholder="输入订单编号">
    </div>
</div>
<div class="my-container">
    <label class="myLabel-content">下单用户：</label>
    <div class="myText-content">
        <select class="form-control" name="user_id">
            <option value="">全部</option>
            {foreach $user as $v}
            <option value="{$v.id}">{$v.nick_name}</option>
            {/foreach}
        </select>
    </div>
</div>
<div class="my-container">
    <label class="myLabel-content">订单状态：</label>
    <div class="myText-content">
        <select class="form-control" name="status">
            <option value="">全部</option>
            <option value="0">未支付</option>
            <option value="1">支付成功</option>
        </select>
    </div>
</div>
<div class="my-container">
    <label class="myLabel-content">下单时间：</label>
    <div class="myText-content">
        <input type="text" name="start" class="form-control datepicker" placeholder="输入开始时间">
    </div>
    <div class="myText-content">
        <input type="text" name="end" class="form-control datepicker" placeholder="输入结束时间">
    </div>
</div>
{/block}
{block name="table-more-actions"}
<button type="button" class="btn btn-danger table-more-action" data-callback="merchatWithdraw"
        data-table="tb_departments" data-status="-1">批量删除
</button>
<button type="button" class="btn btn-danger table-more-action" data-callback="merchatWithdraw"
        data-table="tb_departments" data-status="-1">批量发货
</button>
{/block}
{block name="table-script"}
<div class="modal fade right" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">订单详情</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer modal-my-bottom">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade right" id="send" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" role="form"  action="{:url('sendExp')}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel2">发货</h4>
                </div>
                <div class="modal-body">
                    {:token('token_order_actions','shal')}
                    <input type="hidden" name="id" value="">
                    {:formSelect('快递公司:','express_id',[
                        ['id'=>'ems','name'=>'ems快递'],
                        ['id'=>'shentong','name'=>'申通快递'],
                        ['id'=>'yuantong','name'=>'圆通速递'],
                        ['id'=>'shunfeng','name'=>'顺丰速运'],
                        ['id'=>'tiantian','name'=>'天天快递'],
                        ['id'=>'yunda','name'=>'韵达快递'],
                        ['id'=>'zhongtong','name'=>'中通速递'],
                        ['id'=>'longbanwuliu','name'=>'龙邦物流'],
                        ['id'=>'zhaijisong','name'=>'宅急送'],
                        ['id'=>'deppon','name'=>'德邦物流'],
                    ],'id','name')}
                    {:formInput('快递单号:','express_code','')}
                </div>
                <div class="modal-footer modal-my-bottom">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary form-ajax-submit">发货</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var tableId = 'tb_departments';
    var url = "{:url('dataList')}";
    var delurl = "{:url('delData')}";
    var formModal = 'tb_departments_Modal';
    var fields = [
        {checkbox: true},
        {field: 'order_no', title: '订单编号'},
        {field: 'user_name', title: '下单用户'},
        {field: 'order_amount', title: '订单金额'},
        {field: 'pay_type', title: '支付方式',formatter:function (value) {
                return value.name;
            }},
        {field: 'status', title: '订单状态',formatter:function (value) {
                return value.name;
            }},
        {field: 'progress', title: '物流状态',formatter:function (value) {
                return value.name;
            }},
        {field: 'desc', title: '订单描述'},
        {field: 'create_time', title: '下单时间', sortable: true},
        {
            field: '', title: '操作', formatter: function (value, row, index) {
                if(row.progress.id == 1){
                    return generateTableAtions(row, 'id',[
                        {'name':'详情','class':'btn-info row-order-info','modal':"detail"},
                        {'name':'发货','class':'btn-success row-order-send','modal':"send"}
                    ]);
                }else{
                    return generateTableAtions(row, 'id',[
                        {'name':'详情','class':'btn-info row-order-info','modal':"detail"}
                    ]);
                }

        }}
    ];
    var sortName = 'a.create_time';
    var sortOrder = 'desc';
</script>
{/block}