{include file="shop@public/header"}
<link href="__STATIC__/shop/css/me_home.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/shop/css/search.css" rel="stylesheet" type="text/css" />
<body>
{include file="shop@public/nav"}
<div class="user_here center">所在的位置：中国美博城 > 我的订单</div>
<div class="center results_of_search" style="margin-top: 40px;">

    <!--<div class="results_list fl s_one">
        <ul>
            <li><a href="#" class="checkOn">默认</a></li>
            <li>最新</li>
        </ul>
    </div>-->
   <!-- <div class="results_list fl s_two">
        <ul>
            <li>价格</li>
            <li><input name="" type="text"  value="￥" class="oto_text" /></li>
            <li style="width:18px"> - </li>
            <li><input name="" type="text"  value="￥" class="oto_text" /></li>
            <li>确定</li>
            <li>清空</li>
        </ul>
    </div>-->
</div>

<div class="ibody">
    <!--产品普通排列图-->
    <div class="shangpin_Box center">
        <ul>
            {foreach $pros as $k=>$v}
            <li>
                <div class="padding10">
                    <p><img src="{$v.path}" width="200" height="200" /></p>
                    <p class="color4 size20">￥{$v.shop_price}</p>{$v.name}</a></p>
                    <p class="btn_buy">
                        <button class="shangpin_Box_button2"><a href="{:url('product/detail',['id'=>$v.id])}">立即购买</a></button>
                    </p>
                </div>
            </li>
            {/foreach}
        </ul>
    </div>

    <div style="text-align: center;">
       {$page}
    </div>


    <div class="clear" style="height:30px"></div>

</div>

{include file="shop@public/footer"}
</body>
</html>
