{extend name="common@public/admin-table"}
<ol class="breadcrumb">
    <li><a>首页</a></li>
    <li><a>商城管理</a></li>
    <li class="active">商品管理</li>
</ol>
{block name="breadcrumb"}
<ol class="breadcrumb">
    <li><a>首页</a></li>
    <li><a>商城管理</a></li>
    <li class="active">分类管理</li>
</ol>
{/block}
{block name="table-search"}
<div class="my-container">
    <label class="myLabel-content">商品名称：</label>
    <div class="myText-content">
        <input type="text" name="a.name" class="form-control" placeholder="输入商品名称">
    </div>
</div>
<div class="my-container">
    <label class="myLabel-content">所属商品：</label>
    <div class="myText-content">
        <select class="form-control" name="a.category_id">
            <option value="">全部</option>
            {volist name="cates" id="item"}
            <option value="{$item.id}">{$item.name}</option>
            {/volist}
        </select>
    </div>
</div>
<div class="my-container">
    <label class="myLabel-content">所属品牌：</label>
    <div class="myText-content">
        <select class="form-control" name="a.brand_id">
            <option value="">全部</option>
            {volist name="brand" id="item"}
            <option value="{$item.id}">{$item.name}</option>
            {/volist}
        </select>
    </div>
</div>
<div class="my-container">
    <label class="myLabel-content">添加时间：</label>
    <div class="myText-content">
        <input type="text" name="start" class="form-control datepicker" placeholder="输入开始时间">
    </div>
    <div class="myText-content">
        <input type="text" name="end" class="form-control datepicker" placeholder="输入结束时间">
    </div>
</div>
{/block}
{block name="table-actions"}
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#tb_departments_Modal">添加商品</button>
{/block}
{block name="table-more-actions"}
<button type="button" class="btn btn-danger table-more-action" data-callback="merchatWithdraw" data-table="tb_departments" data-status="-1">批量删除</button>
{/block}
{block name="table-modal"}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">添加商品</h4>
</div>
<div class="modal-body">
    {:token('token_product_actions','shal')}
    <input type="hidden" name="id" value="">
    {:formInput('商品名称:','name','','text')}
    {:formSelect('所属分类:','category_id',$cates,'id','name')}
    {:formSelect('所属品牌:','brand_id',$brand,'id','name')}
    {:formInput('店内价格:','shop_price',0)}
    {:formInput('市场价格:','market_price',0)}
    {:formInput('商品排序:','sort',0,'number')}
    {:formInput('商品库存:','stock',0,'number')}
    {:formFile(true,'商品图片','posters')}
    {:formEditor('商品详情','details')}
</div>
<div class="modal-footer modal-my-bottom">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    <button type="button" class="btn btn-primary form-ajax-submit">保存</button>
</div>
{/block}
{block name="table-script"}
<script>
    var tableId = 'tb_departments';
    var url = "{:url('dataList')}";
    var delurl = "{:url('delData')}";
    var formModal = 'tb_departments_Modal';
    var fields = [
        {checkbox: true},
        {field: 'name', title: '商品名称'},
        {field: 'shop_price', title: '店内价格'},
        {field: 'market_price', title: '市场价格'},
        {field: 'stock', title: '商品库存'},
        {field: 'cate_name', title: '所属分类'},
        {field: 'brand_name', title: '所属品牌'},
        {field: 'sort', title: '商品排序', sortable: true},
        {field: 'sale_number', title: '商品销量', sortable: true},
        {field: 'create_time', title: '添加时间', sortable: true},
        {field: 'update_time', title: '更新时间', sortable: true},
        {field: '', title: '操作',formatter:function (value,row,index) {
                return generateTableAtions(row,'id');
            }},
    ];
    var sortName = 'a.create_time';
    var sortOrder = 'desc';
</script>
{/block}