{include file="common@public/admin-header"}
<body>
<!--商户基本信息-->
<div class="hello_box hello_order">
    <h2><span></span>系统信息</h2>
    <div class="hello_info">
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>LNMP</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>PHP</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--技术支持-->
<div class="hello_box hello_opera">
    <h2><span></span>技术支持</h2>
    <div class="hello_info">
        <ul>
            <li>
                <label>QQ：</label>
                <span>761243073</span>
            </li>
        </ul>
    </div>
</div>
<!--javascript include-->
{include file="common@public/admin-script"}
</body>
</html>
